.banner-home{
  background-image: url("theatre-lights.jpeg");
  height: 90vh;
  position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    margin: 0 auto;
    h1 {
      color:#951305;
      text-align: center;
      font-size: 50px;
      margin-top: 300px;
    }
    h2 {
      color: #c9bcad ;
      text-align: center;
      font-size: 20px;
    }
  }
}

body {
  background-color: #2e2b23;
}

.btn-join {
  padding: 10px;
  background-color: #951305;
  border-radius: 4%;
  text-align: center;
  text-decoration: none;
  border-color: white;
}

.btn-join:hover {
  background-color: #E1E5E8;
  border-color: #951305;
  text-decoration: none;
}
