.container-form{
  background-image: url("etoile.jpg");
  padding: 100px;
  display: flex;
  color: white;
}

h2{
  color: #952112;
  padding: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
  }
