<h1 id="titre-star-index">
  Nos presques stars !
</h1>
<div class="index-cards">
  <% @stars.each do |star| %>
    <div class="index-card">
        <h1><strong><%= "#{star.performer_name}" %></strong></h1>
        <h3><%= "#{star.category}" %></h3>
        <%= link_to "#{star.performer_name}", "/stars/#{star.id}" %>
        <div class="pic">
          <% if star.photo.present? %>
            <%= cl_image_tag(star.photo.key,
            :width => 200, :height => 250,
            :crop => :thumb,
            :gravity => :face) %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
