<h1><%= "#{@star.performer_name}" %></h1>

<%# <%= "#{@star.description}" %>
<img class="img-thumbnail" src="../../assets/images/photos_sample/cocluche.png" alt="">
<%# @star.photo %>

<%= "#{@star.category}" %>
